body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.square{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.red{
    background-color: red;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 100%;
}
.blue{
    background-color: blue;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 100%;
}
.green{
    background-color: green;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 100%;
}
.reset{
    background-color:rgb(100, 87, 87);
    margin-top: 30px;
    width: 150px;
    height: 50px;
    border: none;
}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button:hover{
    opacity: 70%;
    color: white;
}
h1{
    font-size: 50px;
}
.random{
    padding: 10px;
}